.compromisos {
  padding: 20px 40px;

  button.submit {
    display: block;
    margin: 2rem auto;
    text-align: center;
  }
}

.compromisos-table {
  .rt-thead {

    .rt-th {
      padding: 10px !important;
      overflow: visible;

      .input {
        font-size: .8rem;
        color: black;
        height: 30px;
        text-align: left;

        & > div {
          min-height: 30px;
        }

        div[aria-hidden] {
          padding: 4px;
        }
      }
    }
  }

  .complete {
    color:  $primary-green;
  }

  .incomplete {
    color:  $primary-red;
  }

  .open {
    color: $primary-yellow;
  }

  .center {
    text-align: center;
  }

  textarea {
    width: 100%;
  }

  button {
    margin: auto;
    display: block;
    background: transparent;
    color: $white;
    text-decoration: underline;
    border: none;
  }
}

.compromisosModal {
  background: #fff;
  outline: 0;
  min-width: 250px;
  border-radius: 4px;
  padding: 15px;
  width: 500px;
  text-align: left;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .label {
    font-weight: 500;
  }

  form {

    .title {
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    .field {
      margin: .5rem 0;
      text-align: left;
    }

    label {
      display: block;
      text-align: left;
    }

    input {
      font-size: .825em;
      display: block;
      clear: both;
      text-align: left
    }

    textarea {
      width: 100%;
    }

    .avance {
      input {
        display: inline-block;
      }

      span.fieldValue {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }
}

