.home {
	height: 100%;
	width: 100%;
	min-height: 800px;


	.backdrop {

		height: 100%;
		width: 100%;
		display: grid;
		grid-template-rows: 64fr 36fr 50px;
		grid-template-areas: 	'background'
								'text'
								'footer';

		.head {
			z-index: 2;
			color: #F0F0F0;
			font-weight: bold;
			font-size: 25px;
			padding-left: 60px;
			margin-top: 40px;
		}

		.sub-text {
			width: 300px;
			z-index: 2;
			font-weight: normal;
			color: #F0F0F0;
			font-size: 20px;
			margin-left: 85px;
			text-align: center;
		}


		.background-image {
			grid-area: background;
			z-index: 1;
			background-image: url('/images/homepageBanner.jpg');
			background-size: cover;
			min-height: 480px;
			background-repeat: no-repeat;
			position: relative;

		}

		.text {
			grid-area: text;
			background: white;
			font-size: 30px;
			font-weight: bold;
			text-align: center;


			.buttons {
				position: relative;
				z-index: 2;
				width: 80%;
				left: calc(10% - 30px);
				display: grid;
				grid-template-columns: 25% 25% 25% 25%;
				grid-column-gap: 20px;
				padding-top: 30px;


				.link-button {
                    margin:auto;
					display: grid;
					grid-template-rows: 55% 45%;
					grid-template-areas: 	'.'
											'button';
					height: 200px;
                    width: 220px;
					text-align: center;


					.link {
						grid-area: button;
						margin: 13px;
                       	padding: 9px 20px;
						font-size: 15px;
						color: black;
						text-transform: uppercase;
						z-index: 1;
						box-sizing: border-box;
						border-bottom: solid 2px transparent;

						&:hover {
							border-bottom: solid 2px $active-green;
							text-decoration: none;
						}
					}
				}

				.img {
                   margin: auto;
                   width: 80px;


				}
			}


			.text-inner {
				position: relative;
				margin-bottom: 50px;
			}
		}

		.footer {
			grid-area: footer;
			background: $primary-green;
                        font-weight: 100;
                        color: #fff;


                        .left {
                          float: left;
                          padding-left: 10px;
                          line-height: 50px;
                        }
                        .right {
                          float: right;
                          padding-right: 10px;
                        }
		}
	}

}
