.home {
	height: 100%;
	width: 100%;

	.title {
		position: absolute;
		top: 90px;
		left: 20px;
		text-align: center;
		color: white;

		.head {
			font-weight: bold;
			font-size: 25px;
		}

		.sub-text {
			font-weight: normal;
			color: #F0F0F0;
			font-size: 20px;
		}
	}
	.backdrop {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-rows: 64% 30% 6%;
		grid-template-areas: 	'background'
								'text'
								'footer';
		.background-image {
			grid-area: background;
			background-image: url('/images/oilField.png');
			background-size: cover;
			min-height: 650px;


			.buttons {
				position: relative;
				z-index: 2;
				width: 80%;
				left: calc(10% - 30px);
				display: grid;
				grid-template-columns: 25% 25% 25% 25%;
				grid-column-gap: 20px;
				top: 500px;

				.link-button {
					display: grid;
					grid-template-rows: 60% 40%;
					grid-template-areas: 	'.'
											'button';
					height: 200px;
					text-align: center;
					background: white;
					box-shadow: 0 8px 11px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.19);

					.link {
						grid-area: button;
						margin: 13px;
						border-radius: 5px;
						font-size: 15px;
						color: white;
						background: $primary-green;
						text-transform: uppercase;
						z-index: 1;

						&:hover {
							background: $active-green	
						}
					}
				}

				.img {
					width: 70%;
					left: 15%;
					position: relative;
				}
			}
		}

		.text {
			grid-area: text;
			background: white;
			font-size: 30px;
			font-weight: bold;
			text-align: center;

			.text-inner {
				position: relative;
				top: 55%;
			}
		}

		.footer {
			grid-area: footer;
			background: $primary-green;
		}
	}

	.buttons {
		position: absolute;
		z-index: 2;
	}
}