.input-forms {
	height: 100%;
	min-width: 1000px;
	padding: .7em;


/*
	grid-template-rows: 100px 75px 40px 500px;
	grid-template-areas: 	"tabs"
							"subtabs"
							"title"
							"forms";
*/
	.tabs {
		grid-area: tabs;
		padding: 10px 40px 0;
		z-index: 2;
		.tab {
			height: calc(100% + 1px);
			display: inline-block;
			border: solid 1px $primary-green;
                        border-bottom: none;
			border-radius: 10px 10px 0px 0px;
			width: 200px;
			padding: 10px;
			color: $primary-font-color;
			background: $white;
			margin-right: 10px;
			cursor: pointer;
                        text-align: center;
                        font-weight: 500;
                        font-size: 1.1em;

                        &.active {
                          color: $white;
                          background: $primary-green;
                          border-color: $primary-green;
                          border-bottom: none;
                        }
		}
	}

	.save-button {
		width: 120px;
		left: calc(50% - 120px);
		position: relative;
		margin-right: 5px;
		margin-top: 10px;
		padding-bot: 40px;
		color: white;
  	}
  	
	.submit-button {
		width: 120px;
		left: calc(50% - 120px);
		position: relative;
		margin-left: 5px;
		margin-top: 10px;
		padding-bot: 40px;
		color: white;
	}

	.subtabs {
                min-height: 50px;
                background: $primary-green;
		grid-area: subtabs;
		cursor: pointer;
                text-align: center;
                border-radius: 10px 10px 0px 0px;

		.subtab {
                        position: relative;
			display: inline-block;
			width: calc(100vw / 11);
                        vertical-align: top;
			text-align: center;
                        margin: 20px auto 40px;
                        color: $white;
                        font-size: .925rem;
                        font-weight: 100;

                        &:before {
                            display: block;
                            content: "";
                            height: 2px;
                            width: 100%;
                            background: white;
                            top: 17px;
                            position: absolute;
                        }

                        &:first-child {
                            &:before {
                                     width: 50%;
                                     margin-left: 50%;
                            }
                        }

                        &:last-child {
                            &:before {
                                     width: 50%;
                                     margin-left: 0%;
                            }
                        }

                        span {
                          display: block;
                          position: relative;
                          height: 20px;
                          width: 20px;
                          background: $white;
                          border-radius: 50%;
                          margin: 8px auto 10px;
                        }

                        &.active {
                           font-size: 1.1em;
                           font-weight: 500;

                           span {
                             height: 30px;
                             width: 30px;
                             margin-top: 0;

                             &:after {
                               display: block;
                               content: '';
                               width: 20px;
                               height: 20px;
                               border-radius: 50%;
                               position: absolute;
                               margin: 5px;
                               background: $active-green;
                             }
                           }
                        }
                        &.error {
                          color: red;
                        }
		}

		.subtab-active {
			display: inline-block;
			width: 70px;
			height: 40px;
			background: #9ACD32;
			border: solid 1px;
			border-radius: 5px;
			text-align: center;
			line-height: 40px;
			margin-left: 12px;
			margin-top: 20px;

		}
	}

        .tab-content {
                /*
                border-width: 0 1px 1px 1px; 
                border-style: solid;
				border-color: $primary-green;   
				*/

		.tab-title {
			font-size: 1.5em;
			font-weight: bold;
                        padding-bottom: 1em;
                        margin-bottom: 1em;
                        color: $primary-font-color;
                        border-bottom: 1px solid $primary-font-color;
		}

        }

	.img-preview {
		max-width: 200px;
		max-height: 400px;
	}
	
	.new-row-button {
		position: relative;
		left: calc(50% - 15px);
		height: 30px;
		margin-top: 10px;
		border-radius: 5px;
	}
	.new-row-button:focus {
		outline: 0 !important;
	}

	.form {
		grid-area: forms;

                .header {
                     font-weight: 600;
                     font-size: 1.4em;
                     color: $primary-green;
                     margin-left: 0;
                }


            .input-row {
                background: $table-row-color;
                padding: 10px;
                margin-bottom: 4px;
                align-items: center;

                .label {
                    color:$table-row-font-color;
                    font-weight: 100;
                    font-size: .875em;
                }

                &:nth-child(even) {
                   background: $table-row-alt-color;
                }
            }

            .lab-results {
                margin: 2em 0;
            }
	}

    .multistep-form {
      .content {
        padding: 20px 40px;
        border: solid;
        border-width: 0px 1px 1px 1px;
				border-color: $primary-green;
      }
    }


    .general-data {
    	display: grid;
    	grid-column-gap: 10px;

    	margin-left: 15%;
    	grid-template-columns: calc(40% - 215px) 200px 200px calc(40% - 215px);
    	grid-template-areas: 	'general general intervention intervention'
    							'. load continue .'
    							'. download download .';
    	
    	.general-form {
    		grid-area: general;
    	}

    	.intervention-form {
    		grid-area: intervention;
    	}

    	.download-template {
    		grid-area: download;
    		margin-top: 24px;
    	}
    	.submit-load {
    		font-size: 15px;
    		grid-area: load;
    		margin-top: 24px;
    	}

    	.submit-continue {
    		grid-area: continue;
    	    width: 200px;
    	    display: inline-block;
    		position: relative;
    		margin-top: 24px;
    	}
    }
    
	//WELL FORMS
	.tecnica-del-pozo-high-level {
		.main-form {
			width: 33%;
		}

	}

	.tecnica-del-pozo {
		display: grid;
		grid-template-columns: 25% 25% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 
		"image image image"
		"pozo formacion intervenciones";
		
		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/fichaTecnicaDelPozoBanner.png');
			background-size: cover;
			min-height: 340px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;

		}

		.formacion-form {
			grid-area: formacion;
		}

		.pozo-form {
			grid-area: pozo;
		}

		.intervenciones-form {
			grid-area: intervenciones;
		}


	}

	.tecnica-del-campo {
		display: grid;
		grid-template-columns: 33% 33% 33%;
		grid-column-gap: 10px;

		grid-template-areas: 	
		"image image image"
		"left middle right";
		
		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/fichaTecnicaDelCampoBanner.jpg');
			background-size: cover;
			min-height: 340px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;

		}

		.left {
			grid-area: left;			
		}

		.middle {
			grid-area: middle;
		}
		.right {
			grid-area: right;


		}
		
		.generales-form {
			grid-area: generales;
			padding-bottom: 10px;
		}

		.explotacion-form {
			grid-area: explotacion;
		}

		.fluido-form {
			grid-area: fluido;
			padding-bottom: 10px;
		}

		.formacion-form {
			grid-area: formacion;
		}

		.produccion-form {
			grid-area: produccion;
		}
	}

	.sistemas-artificiales-de-produccion {
		display: grid;
		grid-template-columns: 33% 66%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/sistemasBanner.png');
			background-size: cover;
			min-height: 800px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;

		}

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.evaluacionPetrofisica {
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 10px;
		grid-template-areas: 
		"image"
		"layer"
		"mud-loss"
		"image-input";

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/evaluacionPetrofisicaBanner.png');
			background-size: cover;
			min-height: 340px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;

		}

		.layer-table {
			grid-area: layer;
		}

		.mud-loss-table {
			grid-area: mud-loss;
		}

		.img-input {
			grid-area: image-input;
		}
	}


	.mecanico-y-aparejo {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;

		grid-template-areas: 
		'image image'
		'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/mecanicoBanner.png');
			background-size: cover;
			min-height: 340px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

        .left {
        	grid-area: left;
        }

        .right {
        	grid-area: right;

        }
	}

	.historico-de-produccion {
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 10px;
		grid-template-areas: 'prod';

		.historico-produccion {
			grid-area: prod;
		}
	}

	.historico-presion-campo {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 	'presion image'
								'depth image';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/pressionBanner.png');
			background-size: cover;
			min-height: 800px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

		presion-table {
			grid-area: presion;
		}
	}
	
	.historico-presion-pozo {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'presion image' 
							'depth image';


		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/pressionBanner.png');
			background-size: cover;
			min-height: 800px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

		presion-table {
			grid-area: presion;
		}
	}



	.analisis-del-agua {
		display: grid;
		grid-template-rows: 675px auto;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 	'left right'
								'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/aguaBanner.png');
			background-size: cover;
			min-height: 800px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;

		}

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	//INTERVENTION FORMS
	.base-intervenciones {
		width: 50%;
	}

	.propuesta-de-estimulacion {
		overflow-x: auto;
		.top {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-column-gap: 10px;
			grid-template-areas: 'left right';
		
			.left {
				grid-area: left;

			}

			.right {
				grid-area: right;
			}
		}

	}

	.pruebas-de-laboratorio-estimulacion {
		.generales-form {
			width: 100%;
		}
		.obervaciones {
			width: 50%;
		}
	}

	.pruebas-de-laboratorio-estimulacion-extra {
	}

	.resultados-de-simulacion {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-inc-produccion-estimulacion {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-costos-estimulacion {
		.costos-form {
			width: 50%;
		}

	}

	.propuesta-de-acido {
		.top {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-column-gap: 10px;
			grid-template-areas: 'left right';
		
			.left {
				grid-area: left;

			}

			.right {
				grid-area: right;
			}
		}

	}

	.pruebas-de-laboratorio-acido-extra {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';
	
		.left {
			grid-area: left;

		}

		.right {
			grid-area: right;
		}
	}

	.resultados-de-simulacion-acido {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-inc-produccion-estimulacion-acido {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-costos-acido {
		.costos-form {
			width: 50%;
		}
	}

	.propuesta-de-apuntalado {
		.top {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-column-gap: 10px;
			grid-template-areas: 'left right';
		
			.left {
				grid-area: left;

			}

			.right {
				grid-area: right;
			}
		}
	}

	.pruebas-de-laboratorio-apuntalado-extra {
		.top{
			display: grid;
			grid-template-columns: 50% 50%;
			grid-column-gap: 10px;
			grid-template-areas: 'left right';
		
			.left {
				grid-area: left;

			}

			.right {
				grid-area: right;
			}
		}

	}

	.resultados-de-simulacion-apuntalado {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-inc-produccion-estimulacion-apuntalado {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimated-costs {


		.costs-form {
			grid-area: table;
		}
		
		.values {
			font-size: 30px;
		}


		.kpis {
			display: grid;
			width: 70%;
			position: relative;
			left: 15%;
			grid-template-columns: 33% 33% 33%;
			grid-template-areas: 'mnx usd sum';
			margin-top: 40px;
			padding-top: 15px;
			border-top: solid 3px;
		
			.mnx {
				grid-area: mnx;
				text-align: center;

			}

			.usd {
				grid-area: usd;
				text-align: center;

			}

			.sum {
				grid-area: sum;
				text-align: center;


			}
		}
	}

        .form-error {
          margin: auto;
          text-align: center;
          color: red;
          margin: 1rem auto;
        }

}

