.input-forms {
	height: 100%;
	margin: 15px 0;
	min-width: 1000px;
	padding: .7em;

/*
	grid-template-rows: 100px 75px 40px 500px;
	grid-template-areas: 	"tabs"
							"subtabs"
							"title"
							"forms";
*/
	.tabs {
		grid-area: tabs;
		padding: 10px 40px 0;
		z-index: 2;
		.tab {
			height: calc(100% + 1px);
			display: inline-block;
			border: solid 1px $primary-green;
                        border-bottom: none;
			border-radius: 10px 10px 0px 0px;
			width: 200px;
			padding: 10px;
			color: $primary-font-color;
			background: $white;
			margin-right: 10px;
			cursor: pointer;
                        text-align: center;
                        font-weight: 500;
                        font-size: 1.1em;

                        &.active {
                          color: $white;
                          background: $primary-green;
                          border-color: $primary-green;
                          border-bottom: none;
                        }
		}
	}

	.submit-button {
		width: 135px;
		left: calc(50% - 50px);
		position: relative;
		margin-top: 40px;
		padding-bot: 40px;
		color: $primary-green;
	}

	.subtabs {
                min-height: 50px;
                background: $primary-green;
		grid-area: subtabs;
		cursor: pointer;
                text-align: center;
                border-radius: 10px 10px 0px 0px;

		.subtab {
                        position: relative;
			display: inline-block;
			width: calc(100vw / 11);
                        vertical-align: top;
			text-align: center;
                        margin: 20px auto 40px;
                        color: $white;
                        font-size: .925rem;
                        font-weight: 100;

                        &:before {
                            display: block;
                            content: "";
                            height: 2px;
                            width: 100%;
                            background: white;
                            top: 17px;
                            position: absolute;
                        }

                        &:first-child {
                            &:before {
                                     width: 50%;
                                     margin-left: 50%;
                            }
                        }

                        &:last-child {
                            &:before {
                                     width: 50%;
                                     margin-left: 0%;
                            }
                        }

                        span {
                          display: block;
                          position: relative;
                          height: 20px;
                          width: 20px;
                          background: $white;
                          border-radius: 50%;
                          margin: 8px auto 10px;
                        }

                        &.active {
                           font-size: 1.1em;
                           font-weight: 500;

                           span {
                             height: 30px;
                             width: 30px;
                             margin-top: 0;

                             &:after {
                               display: block;
                               content: '';
                               width: 20px;
                               height: 20px;
                               border-radius: 50%;
                               position: absolute;
                               margin: 5px;
                               background: $active-green;
                             }
                           }
                        }
                        &.error {
                          color: red;
                        }
		}

		.subtab-active {
			display: inline-block;
			width: 70px;
			height: 40px;
			background: #9ACD32;
			border: solid 1px;
			border-radius: 5px;
			text-align: center;
			line-height: 40px;
			margin-left: 12px;
			margin-top: 20px;

		}
	}

        .tab-content {
                /*
                border-width: 0 1px 1px 1px; 
                border-style: solid;
				border-color: $primary-green;   
				*/

		.tab-title {
			font-size: 1.5em;
			font-weight: bold;
                        padding-bottom: 1em;
                        margin-bottom: 1em;
                        color: $primary-font-color;
                        border-bottom: 1px solid $primary-font-color;
		}

        }

	.img-preview {
		max-width: 200px;
		max-height: 400px;
	}
	
	.new-row-button {
		position: relative;
		left: calc(50% - 15px);
		width: 30px;
		height: 30px;
		margin-top: 10px;
		border-radius: 5px;
	}
	.new-row-button:focus {
		outline: 0 !important;
	}

	.form {
		grid-area: forms;

                .header {
                     font-weight: 600;
                     font-size: 1.4em;
                     color: $primary-green;
                     margin-left: 0;
                }


            .input-row {
                background: $table-row-color;
                padding: 10px;
                margin-bottom: 4px;
                align-items: center;

                .label {
                    color:$table-row-font-color;
                    font-weight: 100;
                    font-size: .875em;
                }

                &:nth-child(even) {
                   background: $table-row-alt-color;
                }
            }
	}

        .multistep-form {
          .content {
            padding: 20px 40px;
            border: solid;
            border-width: 0px 1px 1px 1px;
            border-color: $primary-green;   
          }
        }



	//WELL FORMS
	.tecnica-del-pozo-high-level {
		.main-form {
			width: 33%;
		}

	}

	.tecnica-del-pozo {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-column-gap: 10px;
		grid-template-areas: "pozo formacion intervenciones geomecanica";
		
		.formacion-form {
			grid-area: formacion;
		}

		.pozo-form {
			grid-area: pozo;
		}

		.intervenciones-form {
			grid-area: intervenciones;
		}

		.geomecanica-form {
			grid-area: geomecanica;
		}
	}

	.tecnica-del-campo {
		display: grid;
		grid-template-columns: 33% 33% 33%;
		grid-column-gap: 10px;
		grid-template-areas: 	"left middle right";
		
		.left {
			grid-area: left;			
		}

		.middle {
			grid-area: middle;
		}
		.right {
			grid-area: right;
		}
		
		.generales-form {
			grid-area: generales;
			padding-bottom: 10px;
		}

		.explotacion-form {
			grid-area: explotacion;
		}

		.fluido-form {
			grid-area: fluido;
			padding-bottom: 10px;
		}

		.formacion-form {
			grid-area: formacion;
		}

		.produccion-form {
			grid-area: produccion;
		}
	}

	.sistemas-artificiales-de-produccion {
		display: grid;
		grid-template-columns: 33% 33%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.evaluacionPetrofisica {


	}
	.mecanico-y-aparejo {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

        .left {
        	grid-area: left;
        }

        .right {
        	grid-area: right;

        }
	}

	.historico-de-produccion {
		display: grid;
		grid-template-columns: 33% 67%;
		grid-column-gap: 10px;
		grid-template-areas: 'aforo prod';

		.aforo-form {
			grid-area: aforo;
		}

		.historico-produccion {
			grid-area: prod;
		}
	}

	.analisis-del-agua {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'valores .';

		.valores-form {
			grid-area: valores;
		}
	}

	//INTERVENTION FORMS
	.base-intervenciones {
		width: 50%;
	}

	.propuesta-de-estimulacion {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';
	
		.left {
			grid-area: left;

		}

		.right {
			grid-area: right;
		}
	}

	.pruebas-de-laboratorio-estimulacion {
		.generales-form {
			width: 100%;
		}
		.obervaciones {
			width: 50%;
		}
	}

	.pruebas-de-laboratorio-estimulacion-extra {
	}

	.resultados-de-simulacion {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-inc-produccion-estimulacion {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-costos-estimulacion {
		.costos-form {
			width: 50%;
		}

	}

	.propuesta-de-acido {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';
	
		.left {
			grid-area: left;

		}

		.right {
			grid-area: right;
		}
	}

	.pruebas-de-laboratorio-acido-extra {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';
	
		.left {
			grid-area: left;

		}

		.right {
			grid-area: right;
		}
	}

	.resultados-de-simulacion-acido {
		.result-form {
			width: 50%;
		}
	}

	.estimacion-inc-produccion-estimulacion-acido {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-costos-acido {
		.costos-form {
			width: 50%;
		}
	}

	.propuesta-de-apuntalado {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';
	
		.left {
			grid-area: left;

		}

		.right {
			grid-area: right;
		}
	}

	.pruebas-de-laboratorio-apuntalado-extra {
		.top{
			display: grid;
			grid-template-columns: 50% 50%;
			grid-column-gap: 10px;
			grid-template-areas: 'left right';
		
			.left {
				grid-area: left;

			}

			.right {
				grid-area: right;
			}
		}

	}

	.resultados-de-simulacion-apuntalado {
		.result-form {
			width: 50%;
		}
	}

	.estimacion-inc-produccion-estimulacion-apuntalado {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-costos-apuntalado {
		.costos-form {
			width: 50%;
		}
	}

}

