.input-forms {
	height: 100%;
	min-width: 1000px;
	color: $white;


	.subtabs {
        min-height: 50px;
		grid-area: subtabs;
		cursor: pointer;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
		margin-top: -69px;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			background: linear-gradient(transparent  20%, $background-color 40%);
		}

		.subtab {
            position: relative;
			display: inline-block;
			width: calc(100vw / 12);
            vertical-align: middle;
			text-align: center;
			margin: 20px auto 40px;
            color: $white;
            font-size: .75rem;
            font-weight: 100;

			&.active {
            	font-weight: bold;
				border-bottom: 1px solid $white;
			}
            &.error {
            	color: red;
            }
		}

		.subtab-active {
			display: inline-block;
			width: 70px;
			height: 40px;
			background: #9ACD32;
			border: solid 1px;
			border-radius: 5px;
			text-align: center;
			line-height: 40px;
			margin-left: 12px;
			margin-top: 20px;

		}
	}

    .tab-content {

		.tab-title {
			font-size: 2em;
            margin-bottom: 1em;
            color: $primary-font-color;
            border-bottom: 1px solid $greyish-brown;
		}

		.tab-actions {
			font-size: 1.5em;
			padding-bottom: 1em;
			margin-bottom: 1em;

			i.fa {
				color: $white;
				font-size: 19px;
			}

			.cta.load {
				float: right;
			}
		}

    }

	.img-preview {
		max-width: 200px;
		max-height: 400px;
	}
	
	.new-row-button {
		position: relative;
		left: calc(50% - 15px);
		height: 30px;
		margin-top: 10px;
		border-radius: 5px;
	}
	.new-row-button:focus {
		outline: 0 !important;
	}

	div[contenteditable="true"] {
		background: $white;
		color: $black;
		padding: 1px;
		border: 2px solid $white;
	}

	.form {
		grid-area: forms;

			.header {
            	font-weight: 600;
				font-size: 1.25em;
				color: $white;
				margin-bottom: 5px;
            }

			.input-table {
				border: 2px solid $cloudy-blue;
				margin-bottom: 10px;
			}

            .input-row {
                background: $table-row-color;
                padding: 10px;
                align-items: center;
				border-bottom: 1px solid $cloudy-blue;

                .label {
                    color: white;
                    font-weight: 500;
                    font-size: .9em;
                }

                &:nth-child(odd) {
                   background: $table-row-alt-color;
                }

				&:last-child {
					border: none;
				}

                .input-row-tooltip {
                	position: absolute;
                	width: 400px;
                	visibility: hidden;
                	background: white;
                	border-radius: 5px;
                	border: solid 2px #028080;
                	margin-top: 150px;
                	margin-left: -110px;
                	padding: 10px;
                	z-index: 10;
                }

       			&:hover {
       				.input-row-tooltip {
       					visibility: visible;
       				}
       			}
            }

			/* React Select Fix */
			@include react-select-fix();
			.input {
				grid-area: input;
				font-size: 12px;

				& > div {
					min-height: 28px;

					[aria-hidden]{
						padding: 2px;
					}

					& > div:first-child {
						padding: 0px 4px;
					}
				}

				div:nth-child(3) {
					color: $black;
				}
			}

            .lab-results {
                margin: 2em 0;
            }
	}

	.input-row-unitless{
		@include react-select-fix()
		.input div:nth-child(3) {
			color: $black;
		}
	}

	.ReactTable {
		border: solid 2px $cloudy-blue;

		.rt-th, .rt-td {
			border-bottom: 1px solid $cloudy-blue;
			border-right: 1px solid $cloudy-blue;
		}
	}


	.button-group{
		padding: 20px 40px;
		display: inline-block;
		width: 100%;
	}

	.save-button {
		width: 120px;
		position: relative;
		margin-right: 5px;
		margin-top: 10px;
		padding-bot: 40px;
		color: white;
		float: right;
	}

	.submit-button {
		width: 120px;
		position: relative;
		margin-left: 5px;
		margin-top: 10px;
		padding-bot: 40px;
		color: white;
		float: right;
	}

	.bug-button {
		float: left;
	}

    .multistep-form {
      .content {
        padding: 20px 40px;
      }
    }

    .general-data {
		margin-bottom: 1em;
    	display: grid;
    	grid-column-gap: 10px;
    	position: relative;
    	width: 80%;
    	left: 10%;
    	border-radius: 5px;
    	padding: 20px;
    	grid-template-columns: calc(50% - 215px) 200px 200px calc(50% - 215px);
    	grid-template-areas: 	
    							'general general intervention intervention'
    							'. load continue .'
    							'. download download .';
    	
    	.general-form {
    		grid-area: general;
    	}

    	.intervention-form {
    		grid-area: intervention;
    	}

    	.download-template {
    		grid-area: download;
    		margin-top: 24px;
    	}
    	.submit-load {
    		font-size: 15px;
    		grid-area: load;
    		margin-top: 24px;
    	}

    	.submit-continue {
    		grid-area: continue;
    	    width: 200px;
    	    display: inline-block;
    		position: relative;
    		margin-top: 24px;
    	}
    }


    .general-data-upload {
		margin-bottom: 1em;
    	position: relative;
    	width: 80%;
    	height: 520px;
    	left: 10%;
    	border: solid 2px $white;
    	border-radius: 5px;
    	padding: 20px;
    	text-align: center;

    	.upload-form {
    		text-align: left;
    	}

    	.body {
    		height: 300px;
    		overflow: auto;
    		border-bottom: solid 1px black
    	}

    	.submit-continue {
    	    width: 200px;
    	    display: inline-block;
    		position: relative;
    		margin-top: 24px;
    		position: absolute;
    		bottom: 20px;
    		left: calc(50% - 100px);
    	}
    }
    

	//WELL FORMS
	.tecnica-del-pozo-high-level {
		.main-form {
			width: 33%;
		}

	}

	.tecnica-del-pozo {
		display: grid;
		grid-template-columns: 25% 25% 50%;
		grid-column-gap: 10px;
		grid-template-areas: 
		"image image image"
		"pozo formacion intervenciones";
		
		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/fichaTecnicaDelPozoBanner2.jpeg');
			background-size: cover;
			min-height: 340px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;

		}

		.formacion-form {
			grid-area: formacion;
		}

		.pozo-form {
			grid-area: pozo;
		}

		.intervenciones-form {
			grid-area: intervenciones;
		}


	}

	.tecnica-del-campo {
		display: grid;
		grid-template-columns: 32% 32% 32%;
		grid-column-gap: 2%;

		grid-template-areas: 	
		"image image image"
		"left middle right";
		
		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/fichaTecnicaDelCampoBanner2.jpeg');
			background-size: cover;
			min-height: 340px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;

		}

		.left {
			grid-area: left;			
		}

		.middle {
			grid-area: middle;
		}
		.right {
			grid-area: right;


		}
		
		.generales-form {
			grid-area: generales;
			padding-bottom: 10px;
		}

		.explotacion-form {
			grid-area: explotacion;
		}

		.fluido-form {
			grid-area: fluido;
			padding-bottom: 10px;
		}

		.formacion-form {
			grid-area: formacion;
		}

		.produccion-form {
			grid-area: produccion;
		}
	}

	.sistemas-artificiales-de-produccion {
		display: grid;
		grid-template-columns: 33% 66%;
		grid-column-gap: 10px;
		grid-template-areas: 'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-size: contain;
			min-height: 800px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;

		}

		.other {
			background-image: url('/images/sistemasBanner.png');
		}

		.BC {
			background-image: url('/images/bombeoCavidades.png');
		}

		.BE {
			background-image: url('/images/bombeoElectr.png');
		}

		.BH {
			background-image: url('/images/bombeoHidraulico.png');
		}

		.BM {
			background-image: url('/images/bombeoMecanico.png');
		}

		.BN {
			background-image: url('/images/bombeoNeumatico.png');
		}

        .left {
        	grid-area: left;
        }

        .right {
        	grid-area: right;

        }




		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.evaluacionPetrofisica {
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 10px;
		grid-template-areas: 
		"image"
		"layer"
		"mud-loss"
		"image-input";

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/evaluacionPetrofisicaBanner2.jpeg');
			background-size: cover;
			min-height: 340px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;

		}

		.layer-table {
			grid-area: layer;
		}

		.mud-loss-table {
			grid-area: mud-loss;
		}

		.img-input {
			grid-area: image-input;
		}
	}


	.mecanico-y-aparejo {
		@grid-two-column()

		grid-template-areas: 
		'image image'
		'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/mecanicoBanner2.jpeg');
			background-size: cover;
			min-height: 340px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

	}

	.historico-de-produccion {
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 10px;
		grid-template-areas: 'excel'
													'prod';
		.excel-upload {
			grid-area: excel;
		}

		.historico-produccion {
			grid-area: prod;
		}
	}

	.historico-presion-campo {
		@grid-two-column()
		grid-template-areas: 	'inputs image';
		.inputs {
			grid-area: inputs;
		}
		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/pressionBanner.png');
			background-size: cover;
			min-height: 800px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

		presion-table {
			grid-area: presion;
		}
	}
	
	.historico-presion {
		@grid-two-column()
		grid-template-areas: 'inputs image';
		.inputs {
			grid-area: inputs;
			.depth {
				margin-bottom: 1em;
			}
		}
		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/pressionBanner.png');
			background-size: cover;
			min-height: 800px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}
	}



	.analisis-del-agua {
		display: grid;
		grid-template-rows: 675px auto;
		grid-template-columns: 48% 48%;
		grid-column-gap: 4%;
		grid-template-areas: 	'left right'
								'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/aguaBanner.png');
			background-size: cover;
			min-height: 800px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;

		}

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	//INTERVENTION FORMS
	.base-intervenciones {
		width: 50%;
	}

	.propuesta-de-estimulacion {
		overflow-x: auto;
		.top {
			@include grid-two-column();;
			grid-template-areas: 'left right';
		
			.left {
				grid-area: left;

			}

			.right {
				grid-area: right;

				.image {
					grid-area: image;
					z-index: 1;
					background-image: url('/images/propuestaBanner.png');
					background-size: cover;
					min-height: 800px;
					border-radius: 10px;
					background-repeat: no-repeat;
					position: relative;
					margin-bottom: 20px;

				}
			}
		}

	}

	.pruebas-de-laboratorio-estimulacion {

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/labTestsBanner.png');
			background-size: cover;
			min-height: 310px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

		.generales-form {
			width: 100%;
		}
		.obervaciones {
			width: 50%;
		}
	}

	.pruebas-de-laboratorio-extra {

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/labTest2Banner2.jpeg');
			background-size: cover;
			min-height: 310px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}
	}

	.resultados-de-simulacion {
		@include grid-two-column();
		grid-template-areas: 	'image image'
								'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/simulationBanner2.jpeg');
			background-size: cover;
			min-height: 310px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}


		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-inc-produccion-estimulacion {
		@include grid-two-column();
		grid-template-areas: 'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/estIncBanner2.jpeg');
			background-size: cover;
			min-height: 395px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}


		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-costos-estimulacion {

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/estCostBanner.png');
			background-size: cover;
			min-height: 310 px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

		.costos-form {
			width: 50%;
		}

	}

	.propuesta-de-acido {
		overflow-x: auto;
		.top {
			display: grid;
			grid-template-columns: 48% 48%;
			grid-column-gap: 4%;
			grid-template-areas: 'left right';
		
			.left {
				grid-area: left;

			}

			.right {
				grid-area: right;

				.image {
					grid-area: image;
					z-index: 1;
					background-image: url('/images/propuestaBanner.png');
					background-size: cover;
					min-height: 800px;
					border-radius: 10px;
					background-repeat: no-repeat;
					position: relative;
					margin-bottom: 20px;

				}
			}
		}

	}

	.pruebas-de-laboratorio-acido-extra {
		@include grid-two-column();
		grid-template-areas: 'left right';
	
		.left {
			grid-area: left;

		}

		.right {
			grid-area: right;
		}
	}

	.resultados-de-simulacion-acido {
		@include grid-two-column();
		grid-template-areas: 	'image image'
								'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/simulationBanner.png');
			background-size: cover;
			min-height: 310px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-inc-produccion-estimulacion-acido {
		@include grid-two-column();
		grid-template-areas: 'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/estIncBanner.png');
			background-size: cover;
			min-height: 395px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-costos-acido {
		.costos-form {
			width: 50%;
		}
	}

	.propuesta-de-apuntalado {
		overflow-x: auto;
		.top {
			display: grid;
			grid-template-columns: 48% 48%;
			grid-column-gap: 4%;
			grid-template-areas: 'left right';
		
			.left {
				grid-area: left;

			}

			.right {
				grid-area: right;

				.image {
					grid-area: image;
					z-index: 1;
					background-image: url('/images/propuestaBanner.png');
					background-size: cover;
					min-height: 800px;
					border-radius: 10px;
					background-repeat: no-repeat;
					position: relative;
					margin-bottom: 20px;

				}
			}
		}
	}

	.pruebas-de-laboratorio-apuntalado-extra {
		.top{
			display: grid;
			grid-template-columns: 48% 48%;
			grid-column-gap: 4%;
			grid-template-areas: 'left right';
		
			.left {
				grid-area: left;

			}

			.right {
				grid-area: right;
			}
		}

	}

	.resultados-de-simulacion-apuntalado {
		@include grid-two-column();
		grid-template-areas: 	'image image'
								'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/simulationBanner.png');
			background-size: cover;
			min-height: 310px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimacion-inc-produccion-estimulacion-apuntalado {
		@include grid-two-column();
		grid-template-areas: 'left right';

		.image {
			grid-area: image;
			z-index: 1;
			background-image: url('/images/estIncBanner.png');
			background-size: cover;
			min-height: 395px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}


		.left {
			grid-area: left;
		}

		.right {
			grid-area: right;
		}
	}

	.estimated-costs {

		.image {
			height: 310px;
			grid-area: image;
			z-index: 1;
			background-image: url('/images/estCostBanner.png');
			background-size: cover;
			min-height: 310 px;
			border-radius: 10px;
			background-repeat: no-repeat;
			position: relative;
			margin-bottom: 20px;
		}

		.costs-form {
			grid-area: table;
		}
		
		.values {
			font-size: 30px;
		}


		.kpis {
			display: grid;
			width: 70%;
			position: relative;
			left: 15%;
			grid-template-columns: 33% 33% 33%;
			grid-template-areas: 'mnx usd sum';
			margin-top: 40px;
			padding-top: 15px;
			border-top: solid 3px;
		
			.mnx {
				grid-area: mnx;
				text-align: center;

			}

			.usd {
				grid-area: usd;
				text-align: center;

			}

			.sum {
				grid-area: sum;
				text-align: center;


			}
		}
	}



	.banner {
		background-size: cover;
		height: 250px;
		min-height: 100px;
		background-repeat: no-repeat;
		position: relative;
		margin-bottom: 20px;

		&.TechnicaDelPozo {
			background-image: url('/images/fichaTecnicaDelPozoBanner2.jpeg');
		}

		&.TecnicaDelCampo {
			background-image: url('/images/fichaTecnicaDelCampoBanner2.jpeg');
		}

		&.EvaluacionPetrofisica {
			background-image: url('/images/evaluacionPetrofisicaBanner2.jpeg');
		}

		&.MecanicoYAparejo {
			background-image: url('/images/mecanicoBanner2.jpeg');
		}

		&.HistoricoDePresionCampo {
			background-image: url('/images/pressionBanner.png');
		}

		&.HistoricoDePresionPozo {
			background-image: url('/images/pressionBanner.png');
		}

		&.AnalisisDelAgua {
			background-image: url('/images/aguaBanner.png');
		}

		&.PropuestaDeEstimulacion {
			background-image: url('/images/propuestaBanner.png');
		}

		&.PruebasDeLaboratorio {
			background-image: url('/images/labTestsBanner.png');
		}

		&.PruebasDeLaboratorioEstimulacion {
			background-image: url('/images/labTestsBanner.png');
		}

		&.PruebasDeLaboratorioExtra {
			background-image: url('/images/labTest2Banner2.jpeg');
		}

		&.ResultadosDeSimulacion {
			background-image: url('/images/simulationBanner2.jpeg');
		}

		&.EstimacionIncProduccionEstimulacion {
			background-image: url('/images/estIncBanner2.jpeg');
		}

		&.EstimacionCostosEstimulacion {
			background-image: url('/images/estCostBanner.png');
		}

		&.PropuestaDeAcido {
			background-image: url('/images/propuestaBanner.png');
		}

		&.ResultadosDeLaSimulacionAcido {
			background-image: url('/images/simulationBanner.png');
		}

		&.EstimacionIncProduccionAcido {
			background-image: url('/images/estIncBanner.png');
		}

		&.PropuestaDeApuntalado {
			background-image: url('/images/propuestaBanner.png');
		}

		&.ResultadosDeSimulacionApuntalado {
			background-image: url('/images/simulationBanner.png');
		}

		&.EstimacionIncProduccionEstimulacionApuntalado {
			background-image: url('/images/estIncBanner.png');
		}

		&.EstimacionCostos {
			background-image: url('/images/estCostBanner.png');
		}

		.SistemasArtificialesDeProduccion {
			background-image: url('/images/sistemasBanner.png');
		}

		&.PropuestaTermica {
			background-image: url('/images/propuestaBanner.png');
		}
	}

	input[type="file"]::-webkit-file-upload-button {
		border-radius: 4px;
		border: solid 2px $cloudy-blue;
		background-color: #ffffff;
	}

    .form-error {
       margin: auto;
       text-align: center;
       color: red;
       margin: 1rem auto;
    }

}

