button {
  &.cta {
    border-radius: 4px;
    border: none;
    padding: 7px 12px;
    font-size: 1rem;
    min-width: 100px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 #484848, inset 0 2px 3px 0 #b8e986;
  }
  &.load {
    color: $white;
    margin-left: 20px;
  }
  &.prev {
    background: $steel;
    color: $white;
    float:right;
    box-shadow: 0 2px 4px 0 #484848, inset 0 2px 3px 0 #b4b3b3;
  }
  &.next {
    margin-left: 20px;
    background: $active-green;
    color: white;
    float:right;
  }
  &.submit{
    border-radius: 4px;
    border: none;
    background: $steel;
    padding: 6px 30px;
    font-size: 1rem;
    color: white;
    min-width: 100px;
    box-shadow: 0 2px 4px 0 #484848, inset 0 2px 3px 0 #b4b3b3;
  }
  &.clear {
    background: transparent;
    border: none;
    box-shadow:none;
    min-width: 0;
    padding: 0;
    margin: 6px 30px;
  }
  &.cancel {
    border-radius: 4px;
    border: none;
    background: $red;
    padding: 6px 30px;
    color: white;
    min-width: 100px;
    box-shadow: 0 2px 4px 0 #484848, inset 0 2px 3px 0 #f3bbbb;
  }
  &.bug-button{
    float: left;
    margin-top: .5em;
  }
  &:hover:enabled {
    cursor: pointer;
    opacity: .7;
  }
  &[disabled]{
    cursor: not-allowed;
    background: #C0C0C0;
    box-shadow: none;
  }
}

.button-group {
  text-align: center;
  padding-bottom: 15px;

  .submit {
    margin: 5px;
  }

  .active:after{ 
    content: '' ; 
    display: block ; 
    position: relative ; 
    top: 0 ; 
    bottom: 0 ; 
    left: 0 ; 
    right: 0 ; 
    border-radius: 5px ; 
    border: 1px solid white ; 
  }
}