.localModal {
  // display: block;
  position: relative;
  margin: 1em 0;
  display: inline-block;
}

.groupBy-selection {
  display: inline-block;
  width: 12em;
  margin-left: 1em;
}


.open-export-btn {
  border-radius: 4px;
  padding: 7px 12px;
  font-size: 1rem;
  min-width: 100px;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #D3D3D3;
  box-shadow: 0px 0px 15px 1px #a8a8a8;
}

.export-modal {
  position: absolute;
  background: #fff;
  outline: 0;
  min-width: 250px;
  border-radius: 4px;
  padding: 15px;
  top: 3em;
  border: solid 1px #D3D3D3;
  z-index: 1000;
  box-shadow: 0px 0px 15px 1px #a8a8a8;
  .modal-title {
    font-size: 1.3em;
  }
  &.filters {
    width: 50em;
  }
}

.filters-tablero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-individual {
  flex: 1 0 21%;
  width: 100px;
  margin: .5em .5em;
}

.pptx-task-list {
  display: flex;
  ul {
    list-style-type: none;
    // padding: 0;
  }
  .icons {
    width: 2em;
    padding-left: 2em;
  }
}

.export-buttons {
  display: grid;
  grid-template-columns: 200px 450px;
  grid-template-areas: "pptxLabel excelLabel"
                       "pptxButton excelButton";
  label {
    font-size: .75em;
  }
  .pptx-export {
    label {
      grid-area: pptxLabel;
    }
    div {
      grid-area: pptxButton
    }
  }
  .excel-export {
    grid-area: excel
    label {
      grid-area: excelLabel;
    }
    div {
      grid-area: excelButton
    }
    .export-select {
      display: inline-block;
      width: 17em;
      margin-right: 1em;
    }
  }
}

.pptx-progress {
  margin-top: 1em;
}

.my-progress-bar {
  height: 20px;
  width: 600px;
  margin: 0 auto;
  border-radius: 50px;
  border: 1px solid rgb(134, 134, 134);
}

.my-filler {
  background: rgb(87, 190, 109);
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}
