.input-row {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-areas: "header input unit";
  width: 100%;
  background: whitesmoke;
  padding: 5px;
  border: solid 1px white;

  .header {
  	grid-area: header;
  	font-size: 14px;
  }

  .input {
  	grid-area: input;
  	font-size: 12px
  }

  .unit {
  	grid-area: unit;
  	font-size: 10px;
  	text-align: center;
  	line-height: 30px;
  }
}

.input-row-unitless {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "header input";
  width: 100%;
  background: whitesmoke;
  padding: 5px;
  border: solid 1px white;

  .header {
  	grid-area: header;
  	font-size: 14px;
  }

  .input {
  	grid-area: input;
  	font-size: 12px
  }
}