.table {
  position: relative;

  .ReactTable {

    .rt-td {
      overflow: visable;
      white-space: normal;
    }
    .rt-th {
      overflow: visable;
      white-space: normal;
    }
  }
}

.table-select {
  position: relative;

  .ReactTable {

    .rt-table {
      overflow: visible;

      .rt-tbody {
        overflow: visible;

        .rt-tr-group {
          overflow: visible;

          .rt-tr {
            overflow: visible;
          }
        }
      }
    }

    .rt-td {
      overflow: visable;
      white-space: normal;
    }
    .rt-th {
      overflow: visable;
      white-space: normal;
    }
  }
}