.table {
  position: relative;

  .ReactTable {

    .rt-td {
      overflow: visable;
      white-space: normal;
    }
    .rt-th {
      overflow: visable;
      white-space: normal;
    }
  }
}

.table-select {
  position: relative;
  display: table;
  width: 100%;

  .ReactTable {

    .rt-table {
      overflow: visible;

      .rt-tbody {
        overflow: visible;

        .rt-tr-group {
          overflow: visible;

          .rt-tr {
            overflow: visible;
          }
        }
      }
    }

    .rt-td {
      overflow: visable;
      white-space: normal;
    }
    .rt-th {
      overflow: visable;
      white-space: normal;
    }
  }
}

.ReactTable.-striped {
  border: 2px solid $primary-border-color;

  .rt-tr {
    border-bottom: 1px solid $table-border-color;
    color: $table-head-font-color;
  }

  .rt-td {
    border-left: 1px solid $table-border-color;
  }

  .rt-thead {
    background:  $table-head-color;

    &.-filters{
      background: $background-color;
    }
  }

  .rt-tbody {
    .rt-tr {
      background: $table-row-color;
      color: $table-row-font-color;

      &.-odd {
        background: $table-row-alt-color;
      }
    }
  }

  .pagination-bottom {
    background: $table-head-color;
    color: $table-head-font-color;
  }
}
