@mixin pinned {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pemex-app {
	display: grid;
	grid-template-rows: 4em calc(100vh - 4em);
	grid-template-areas: 	"header"
						 	"body";

}