$textColor: white;
$shortNameColor: #fa0;
$productBarHeight: 3em;
$colorCepahalopod: #fa0;

$white: #fff;
$grey: #fbfbfb;

.productbar {
  /* @include linear-gradient($white, $grey); */
  background: $white;
  color: $textColor;
  grid-area: header;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 0 0.7em;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);

  >* {
    display: inline-block;
    vertical-align: middle;
  }

  &:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }

  .title {
    padding-left: 15px;
    position: relative;

    span {
      background: url('/images/pemex-logo-fpo.png') no-repeat;
      background-size: contain;
      height: 40px;
      width: 200px;
      display: inline-block;
      overflow: hidden;
      outline: none;
    } 
    img {
      float: left;
    }

    .version {
      transition: all 0.6s;
      opacity: 0.3;
      display: inline-block;
      top: 50%;
      font-size: 0.55em;
      font-weight: lighter;
      margin-left: 0.3em;

      &:before {
        content: ' BETA v';
      }

      &:hover {
        opacity: 1;
        color: #fff;
      }
    }
  }

  .selectedPozo {
    display: inline-block;
    color: black;
  }

  .links {
    display: inline-block;
    margin-left: 2rem;

    a {
      color: $steel;
      margin-left: 1rem;
      text-transform: uppercase;

      &.active {
        color: $charcoal-grey;
        text-decoration: underline;
      }
    }
  }

  .actions {
    float: right;
    font-size: 0.9em;
    font-weight: lighter;
    height: 100%;

    .rc-slider {
      display: inline-block;
      width: 10em;
      margin-right: 3em;
      line-height: 0.6em;
      vertical-align: middle;
    }

    .active {
      font-weight: bold;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      background-color: transparent;
      vertical-align: middle;
    }

    >a {
      color: $colorCepahalopod;
      margin-left: 1em;
    }
    
    button {
      padding: 6px 20px;
    }

    .logout {
      color: $greyish-brown;
      border: 1px solid $cloudy-blue;
      margin-left: 0.7em;
      border-radius: 4px;
      font-weight: 500;
    }
  }
}


