html {
  // font-family: sans-serif;
  // font-family: 'Ubuntu', sans-serif;
  font-family: 'Lato', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Catamaran', sans-serif;
}


.productspace {
	grid-area: body;
}


.light .productspace {
  background-color: #f9f9f9;

  h1 {
    color: #222;
  }
}
