// Global Colors

$bluegreen: #018081;
$steel: #7c808d;
$cloudy-blue: #b4bacd;
$nasty-green: #70ad46;
$brown-grey: #7f7f7f;
$greyish-brown: #595959;
$charcoal-grey: #2d2e33;
$harcoal-grey: #44474e;
$light-grey: #737373;
$white: #ffffff;
$murky-white: #e6e4e4;
$red: #d84040;

$primary-green: #33754a;//$nasty-green;//;
$active-green: #70AC46;
$primary-red: #d03c28;
$primary-yellow: #efd23b;

$background-color: #393b41;
$primary-font-color: $white;
$primary-border-color: $cloudy-blue;

$input-background: $murky-white;
$table-head-color: $light-grey ;
$table-head-font-color:$white;
$table-row-font-color: $white;
$table-row-color: #393b41;
$table-row-alt-color: #272a2c ;
$table-border-color: #47484a;

// QRI Colors
$qriLogoBlue: #0076C0;
$qriLogoGray: #A7A9AC;
$qriIconGray: #646464;
$speedWiseBlue: #0D547B;
$reservoir: #E3A143;
$geology: #D46A50;
$drilling: #A18067;
$production: #60A145;
$cool-grey: #D3D3D3;
$white-two: #ffffff;
$black: #363636;
$brownish-grey: #646464;
// Highcharts Plotting
$color-gas: #CC3D3D;
$color-oil: #35b06d;
$color-water: #3a88c0;
:export {
  colorGas: $color-gas;
  colorOil: $color-oil;
  colorWater: $color-water;
  speedWiseBlue: $speedWiseBlue;
}