.overview {
	display: grid;
	overflow-y: auto;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;

	.kpi-outer {
		text-align: center;
		border: solid 1px;

		.name {
			font-size: 30px;
			height: 50px 
		}

		.kpi {
			width: 50%;
			display: inline-block;
			height: 80px;
			padding-top: 15px;

			.value {
				font-size: 30px;
			}

			.header {
				font-size: 10px;
			}
		}
	}

}
